div.container
    h1 Welcome!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius adipisci quae, sint autem iusto eligendi pariatur. Optio, officiis pariatur velit ipsam voluptatem voluptate repellendus, animi excepturi rerum labore est.
    a(href="/auth/google") Login