div.container
    h1 Login!
    div.login
        form(method='GET' action='../default')
            input(type='text' name='first_name' placeholder='First Name')
            input(type='text' name='last_name' placeholder='Last Name')
            input(type='submit' value='Submit')